* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;
}
body {
  overflow-x: hidden;
  font-variation-settings: normal;
  line-height: 1.5;
  width: 100%;
  overflow-y: auto;
  font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
}
&.light {
  .react-datepicker {
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 200000;
  }
  .react-datepicker__header {
    background-color: #f9fafc;
  }
  .react-datepicker__day--selected {
    background-color: #007bff;
    color: white;
  }

  .skeleton {
    animation: skeleton 1s alternate linear infinite;
    opacity: 0.7;
  }
  .recharts-tooltip-label {
    color: #272727;
    font-size: 12px;
  }
  .recharts-legend-tooltip-text-y-value {
    font-weight: 500;
    color: black;
  }
  .recharts-legend-item-text {
    color: #878a99 !important;
    font-size: 13px !important;
  }
  .ql-container {
    overflow-y: auto;
  }
  .ql-container.ql-snow {
    border: 1px solid #d3d7e2;
    height: 200px;
  }
  .recharts-cartesian-grid-horizontal line,
  .recharts-cartesian-grid-vertical line {
    stroke: #2d3748;
  }
  tbody tr:nth-child(even) {
    background-color: #f7f7f7;
  }
  tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  .error-icon {
    fill: rgba(83, 100, 113, 1);
    margin: 0px auto;
  }
}
.pagination {
  list-style: none;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  cursor: pointer;
}

.active-page {
  background-color: #1e50ff;
  border-radius: 50%;
}

.page-item {
  list-style: none;
  padding: 2px 12px;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

&.dark {
  .react-datepicker {
    border: 1px solid #2d3748;
    border-radius: 4px;
    z-index: 200000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .react-datepicker__header {
    background-color: #2d3748;
  }
  .react-datepicker__month {
    border: 1px solid #2d3748;
  }
  .react-datepicker__day {
    color: #cbd5e0;
  }
  .react-datepicker__current-month {
    color: #cbd5e0;
  }
  .react-datepicker__day-name {
    color: #cbd5e0;
  }
  .react-datepicker__month-container {
    background-color: #2d3748;
  }
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected {
    color: white;
  }
  .react-datepicker__day:hover {
    background-color: #f0f0f0;
    color: #333;
  }
  .ql-picker-label {
    color: #eeeeee;
  }
  .ql-stroke {
    color: white;
  }
  .quill {
    min-height: 0;
  }
  .ql-container {
    overflow-y: auto;
  }
  .ql-container.ql-snow {
    border: 1px solid #172340;
    height: 200px;
  }
  .ql-editor p {
    color: #e2e8f0;
    font-size: 15px;
  }
  .ql-snow .ql-stroke {
    stroke: #eeeeee;
  }
  .ql-snow .ql-fill {
    fill: #e2e8f0;
  }
  .ql-toolbar.ql-snow {
    border: 1px solid #172340;
  }
  .recharts-legend-item-text {
    color: #cbd5e0 !important;
    font-size: 12.5px;
  }
  .recharts-cartesian-grid-horizontal line,
  .recharts-cartesian-grid-vertical line {
    stroke: #2d3748;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #070d19 inset !important;
    -webkit-text-fill-color: #64748b;
  }

  tbody tr:nth-child(even) {
    background-color: #070d19;
  }
  tbody tr:nth-child(odd) {
    background-color: transparent;
  }
  .error-icon {
    fill: rgb(139, 152, 165);
    margin: 0px auto;
  }
}

.skeleton {
  animation: skeleton 1s alternate linear infinite;
  opacity: 0.7;
}
.recharts-cartesian-grid-horizontal line,
.recharts-cartesian-grid-vertical line {
  stroke: #2d3748;
}

.logo {
  font-family: "Roboto", sans-serif;
}

@keyframes skeleton {
  0% {
    background: #4a5568;
  }
  100% {
    background: #2d3748;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffff inset !important;
  -webkit-text-fill-color: #64748b;
}
.shadow {
  box-shadow: 0 8px 10px 0 #08101e;
}
.image {
  width: 400px; /* Ensure the image doesn't exceed its container */
  height: 200px;
  display: block;
}
.login-form {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  width: 2px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
}
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}
::-webkit-scrollbar-track {
  background-color: red;
}
.post-dropdown {
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.image {
  color: red;
}
@media (min-width: 768px) {
  .main {
    overflow-y: hidden;
    /* width: 100%; */
  }

  .sidebar {
    position: fixed;
    top: 0;
  }
}
