@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  overflow-y: visible;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
blockquote {
  border-left: 4px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  color: #666;
  background-color: #f9f9f9;
  quotes: "“" "”" "‘" "’";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.scrollBar,
.quill::-webkit-scrollbar {
  width: 10px;
}

.scrollBar,
.quill::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: none;
  border-radius: 3px;
}
.scrollBar,
.quill::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  border-radius: 3px;
}
&.light {
  .react-datepicker {
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 200000;
  }
  .react-datepicker__header {
    background-color: #f9fafc;
  }
  .react-datepicker__day--selected {
    background-color: #007bff;
    color: white;
  }

  .main::-webkit-scrollbar {
    width: 10px;
  }

  .main::-webkit-scrollbar-track {
    background: #dddd;
    border: none;
    border-radius: 3px;
  }

  .main::-webkit-scrollbar-thumb {
    background: #9c9c9cdd;
    border-radius: 3px;
  }
  .quill {
    height: 200px;
  }
}
&.dark {
  .react-datepicker {
    border: 1px solid #2d3748;
    border-radius: 4px;
    z-index: 200000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .react-datepicker__header {
    background-color: #2d3748;
  }
  .react-datepicker__month {
    border: 1px solid #2d3748;
  }
  .react-datepicker__day {
    color: #cbd5e0;
  }
  .react-datepicker__current-month {
    color: #cbd5e0;
  }
  .react-datepicker__day-name {
    color: #cbd5e0;
  }
  .react-datepicker__month-container {
    background-color: #2d3748;
  }
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected {
    color: white;
  }
  .react-datepicker__day:hover {
    background-color: #f0f0f0;
    color: #333;
  }

  .main::-webkit-scrollbar {
    width: 10px;
  }
  .main::-webkit-scrollbar-track {
    background: #3333;
    border: none;
    border-radius: 3px;
  }
  .main::-webkit-scrollbar-thumb {
    background: #7989a3;
    border-radius: 3px;
  }
  .quill::-webkit-scrollbar {
    width: 10px;
  }
  .quill::-webkit-scrollbar-track {
    background: #dddd;
    border: none;
    border-radius: 3px;
  }
  .quill::-webkit-scrollbar-thumb {
    background: #4f5f80;
    border-radius: 3px;
  }

  .ql-editor .ql-blank,
  .ql-container.ql-snow {
    border: none;
  }
  .ql-picker-label {
    color: #eeeeee;
  }
  .ql-stroke {
    color: white;
  }
  .quill {
    height: 200px;
  }
  .ql-snow {
    border-bottom: 1px solid #1a202c;
    border-right: none;
    border-left: none;
    border-top: none;
  }
  .ql-editor p {
    color: #e2e8f0;
  }

  .ql-snow .ql-stroke {
    stroke: #eeeeee;
  }
  .ql-snow .ql-fill {
    fill: #e2e8f0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #4a5568 inset !important;
    -webkit-text-fill-color: #e2e2e2;
  }
  @keyframes skeleton {
    0% {
      background: #4a5568;
    }
    100% {
      background: #494848;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f8f6f6 inset !important;
  -webkit-text-fill-color: #575555;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.skeleton {
  animation: skeleton 1s alternate linear infinite;
  opacity: 0.7;
}

@keyframes skeleton {
  0% {
    background: #dddd;
  }
  100% {
    background: #f6f6f8;
  }
}

.image {
  width: 400px; /* Ensure the image doesn't exceed its container */
  height: 200px;
  display: block;
}

@media (min-width: 768px) {
  .dashboard {
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: auto 1fr;
    width: 100%;
    height: 100vh;
    position: sticky;
  }
  .sidebar {
    grid-row: 1/-1;
  }
}
